SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=
TICKETMASTER_CONSUMER_KEY=
TICKETMASTER_CONSUMER_SECRET=
DB_PASSWORD=
SENDGRID_API_KEY=
VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=
VAPID_SUBJECT=https://kelloggmatch.com
PUSH_ENABLED=true
NATIVE_PUSH_ENABLED=
APNS_ENABLED=
APNS_ENV=
APNS_TEAM_ID=
APNS_KEY_ID=
APNS_KEY_PEM=
APNS_BUNDLE_ID=
FCM_ENABLED=
FCM_PROJECT_ID=
FCM_SERVICE_ACCOUNT=